@mixin filterTabAnimation($animationName) {
  .tab-content {
    opacity: 1;
    animation: filtered + $animationName $transition alternate forwards;
    &.filtering {
      animation: filtering + $animationName $transition alternate forwards;
    }
  }
}

.filter-tab {
  .tab-content {
    &.filtered {
      display: none;
    }
  }
  &--fade {
    @include filterTabAnimation(Fade);
  }
  &--scaleY {
    @include filterTabAnimation(ScaleY);
  }
}

// keyframes
@keyframes filteringFade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes filteredFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes filteringScaleY {
  from {
    opacity: 1;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform: scaleY(0);
  }
}
@keyframes filteredScaleY {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
