.input {
  &-item {
    width: 100%;
    position: relative;
    transition: var(--transition);
    background: #f5f5f5;
    border-radius: 6px;
    border: 1px solid transparent;

    &.js-cv-upload {
      position: relative;
      height: 62px;
      & > .icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
      }
    }

    &--textarea {
      .input-item__placeholder {
        transform: none;
        top: 20px;
      }
      &.input-item--valued {
        border-color: transparent;
        .input-item__placeholder {
          top: 8px !important;
        }
      }
      &.input-item--focused {
        border-color: var(--ui-primary);
        .input-item__placeholder {
          top: 8px !important;
        }
      }
    }
    &--file {
      background: #f5f5f5 !important;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      input[type="file"] {
        display: none;
      }
    }
    &__file {
      &-field {
        margin-left: 10px;
      }
    }
    & > select {
      position: relative;
      top: -0px !important;
      width: 95% !important;
    }
    & > input,
    & > select,
    & > textarea,
    &--file {
      width: 100%;
      padding: 16px 25px;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: 400;
      line-height: 1em;
      background: transparent;
      position: relative;
      top: 2px;
      &:-webkit-autofill {
        & ~ .input-item__placeholder {
          top: 25%;
          font-size: 12px;
        }
      }
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
      }
    }

    select,
    option {
      cursor: default !important;
    }
    &__placeholder {
      font-weight: 400;
      font-size: 16px;
      position: absolute;
      top: calc(50% + 1px);
      line-height: 1em;
      left: 25px;
      transform: translateY(-50%);
      transition: var(--transition);
      pointer-events: none;
      strong {
        color: red;
      }
    }
    &--valued {
      border-color: transparent;
      .input-item__placeholder {
        top: 25%;
        font-size: 12px;
      }
    }
    &--focused {
      border-color: var(--ui-primary);
      .input-item__placeholder {
        top: 25%;
        font-size: 12px;
      }
    }
  }
}
