.toast {
  border-radius: 0.6rem !important;
  width: 40rem !important;
  opacity: 1 !important;
  box-shadow: none !important;

  &-error {
    background-color: #df4759;
  }
  &-warning {
    background-color: #ffc107;
  }
  &-info {
    background-color: #467fd0;
  }
  &-success {
    background-color: #42ba96;
  }
  &-title {
    font-size: 2.2rem;
    font-weight: 400;
  }
  &-message {
    font-weight: 400;
    font-size: 1.6rem;
    position: relative;
    top: 0.1rem;
  }
  &-progress {
    opacity: 0.3 !important;
  }
  &-close-button {
    font-weight: 100 !important;
  }
}
