.uikit__item(data-ui-parent="components")#filter-tab
  .row.mb-4
    p.uikit__item-p Filter Tab Fade
    .filter-tab(data-filter-animation="fade" style="font-size:1.6rem")
      .col-lg-12
        .filter-tab-header.d-flex.justify-content-around
          .tab-item.active(data-filter="filter1")
            | Filter 1
          .tab-item(data-filter="filter2")
            | Filter 2
          .tab-item(data-filter="filter3")
            | Filter 3
          .tab-item(data-filter="filter4")
            | Filter 4
      .col-lg-12
        .filter-tab-content 
          .tab-content.filter1
            | Filter 1 Content

          .tab-content.filter2.filtered
            | Filter 2 Content
          .tab-content.filter2.filter3.filtered
            | Filter 2 Content Second
          .tab-content.filter3.filtered
            | Filter 3 Content
          .tab-content.filter3.filtered
            | Filter 3 Content Second
          .tab-content.filter4.filtered
            | Filter 4 Content
          .tab-content.filter4.filtered
            | Filter 4 Content Second
    pre
      code.language-pug.javascript.
        .filter-tab(data-filter-animation="fade")
          .filter-tab-header.d-flex.justify-content-around 
            .tab-item.active(data-filter="filter1")
              | Filter 1
            .tab-item(data-filter="filter2")
              | Filter 2
            .tab-item(data-filter="filter3")
              | Filter 3
            .tab-item(data-filter="filter4")
              | Filter 4
          .filter-tab-content 
            .tab-content.filter1
              | Filter 1 Content
            .tab-content.filter2.filtered
              | Filter 2 Content
            .tab-content.filter2.filter3.filtered
              | Filter 2 Content Second
            .tab-content.filter3.filtered
              | Filter 3 Content
            .tab-content.filter3.filtered
              | Filter 3 Content Second
            .tab-content.filter4.filtered
              | Filter 4 Content
            .tab-content.filter4.filtered
              | Filter 4 Content Second
    pre
      code.language-css.javascript.
        &--scaleY {
          @include filterTabAnimation(Fade);
        }
    pre
      code.language-css.javascript.
        @keyframes filteringFade {
          from {
            opacity: 1;
          }
          to {
            opacity: 0;
          }
        }
        @keyframes filteredFade {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
  hr
  .row.mt-4
    p.uikit__item-p Filter Tab ScaleY
    .filter-tab(data-filter-animation="scaleY" style="font-size:1.6rem")
      .col-lg-12
        .filter-tab-header.d-flex.justify-content-around 
          .tab-item.active(data-filter="filter1")
            | Filter 1
          .tab-item(data-filter="filter2")
            | Filter 2
          .tab-item(data-filter="filter3")
            | Filter 3
          .tab-item(data-filter="filter4")
            | Filter 4
      .col-lg-12
        .filter-tab-content 
          .tab-content.filter1
            | Filter 1 Content
          .tab-content.filter1
            | Filter 1 Content Second
          .tab-content.filter2.filtered
            | Filter 2 Content
          .tab-content.filter2.filter3.filtered
            | Filter 2 Content Second
          .tab-content.filter3.filtered
            | Filter 3 Content
          .tab-content.filter3.filtered
            | Filter 3 Content Second
          .tab-content.filter4.filtered
            | Filter 4 Content
          .tab-content.filter4.filtered
            | Filter 4 Content Second

    pre
      code.language-pug.javascript.
        .filter-tab(data-filter-animation="scaleY")
          .filter-tab-header.d-flex.justify-content-around 
            .tab-item.active(data-filter="filter1")
              | Filter 1
            .tab-item(data-filter="filter2")
              | Filter 2
            .tab-item(data-filter="filter3")
              | Filter 3
            .tab-item(data-filter="filter4")
              | Filter 4
          .filter-tab-content 
            .tab-content.filter1
              | Filter 1 Content
            .tab-content.filter1
              | Filter 1 Content Second
            .tab-content.filter2.filtered
              | Filter 2 Content
            .tab-content.filter2.filter3.filtered
              | Filter 2 Content Second
            .tab-content.filter3.filtered
              | Filter 3 Content
            .tab-content.filter3.filtered
              | Filter 3 Content Second
            .tab-content.filter4.filtered
              | Filter 4 Content
            .tab-content.filter4.filtered
              | Filter 4 Content Second
    pre
      code.language-css.javascript.
        &--scaleY {
          @include filterTabAnimation(ScaleY);
        }
    pre
      code.language-css.javascript.
        @keyframes filteringScaleY {
          from {
            opacity: 1;
            transform: scaleY(1);
          }
          to {
            opacity: 0;
            transform: scaleY(0);
          }
        }
        @keyframes filteredScaleY {
          from {
            opacity: 0;
            transform: scaleY(0);
          }
          to {
            opacity: 1;
            transform: scaleY(1);
          }
        }

.uikit__item(data-ui-parent="components")#accordion
  .row.mb-4
    p.uikit__item-p Accordion
    .accordion-wrapper
      .accordion-item
        .accordion-header.js-accordion-trigger
          .accordion-header__title.txt--px24
            h3 accordion item 1
          .accordion-header__icon
        .accordion-content
          .accordion-calc
            .accordion-inner 
              .accordion-inner__txt.txt.txt--px24.txt--font500
                p
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                  br
                  br
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                  br
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                  | adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                  
      .accordion-item
        .accordion-header.js-accordion-trigger
          .accordion-header__title.txt.txt--px24
            h3 accordion item 2
          .accordion-header__icon
        .accordion-content
          .accordion-calc
            .accordion-inner 
              .accordion-inner__txt.txt.txt--px24.txt--font500
                p
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                  br
                  br
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                  br
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                  | adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                  
      .accordion-item
        .accordion-header.js-accordion-trigger
          .accordion-header__title.txt.txt--px24
            h3 accordion item 3
          .accordion-header__icon
        .accordion-content
          .accordion-calc
            .accordion-inner 
              .accordion-inner__txt.txt.txt--px24.txt--font500
                p
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                  br
                  br
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                  br
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                  | adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                          
  pre
    code.language-pug.javascript.
       .accordion-wrapper
          .accordion-item
            .accordion-header.js-accordion-trigger
              .accordion-header__title.txt--px24
                h3 accordion item 1
              .accordion-header__icon
            .accordion-content
              .accordion-calc
                .accordion-inner 
                  .accordion-inner__txt.txt.txt--px24.txt--font500
                    p
                      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                      br
                      br
                      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                      br
                      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!
                      | adipisicing elit. Quo nisi eius minus dicta perspiciatis placeat!


.uikit__item(data-ui-parent="components")#alert-toastr
  .row.g-5
    p.uikit__item-p Alert toastr
    .col-lg-6
      button.uikit-btn(onclick="alertToastr('info','this is an info message')") alert info click me
      
      pre
        code.language-pug.javascript.
          button(onclick="alertToastr('info','this is an info message')") alert info 
    .col-lg-6
      button.uikit-btn(onclick="alertToastr('warning','this is an warning message')") alert warning click me
      pre
        code.language-pug.javascript.
          button(onclick="alertToastr('warning','this is an warning message')") alert warning 
    .col-lg-6
      button.uikit-btn(onclick="alertToastr('success','this is an success message')") alert success click me
      pre
        code.language-pug.javascript.
          button(onclick="alertToastr('success','this is an success message')") alert success 
    .col-lg-6
      button.uikit-btn(onclick="alertToastr('error','this is an error message')") alert error click me
      pre
        code.language-pug.javascript.
          button(onclick="alertToastr('error','this is an error message')") alert error 
.uikit__item(data-ui-parent="components")#swiper
  .row
    p.uikit__item-p Swiper
    .swiper(style="padding: 0 15px; height: 300px;")
      .swiper-wrapper 
        .swiper-slide(style="display: flex; align-items:center; justify-content: center; font-size: 3rem; ") 1
        .swiper-slide(style="display: flex; align-items:center; justify-content: center; font-size: 3rem; ") 2
        .swiper-slide(style="display: flex; align-items:center; justify-content: center; font-size: 3rem; ") 3
        .swiper-slide(style="display: flex; align-items:center; justify-content: center; font-size: 3rem; ") 4
        .swiper-slide(style="display: flex; align-items:center; justify-content: center; font-size: 3rem; ") 5
        .swiper-slide(style="display: flex; align-items:center; justify-content: center; font-size: 3rem; ") 6
      .swiper-pagination
      .swiper-button-next
      .swiper-button-prev
    pre
      code.language-pug.javascript.
        .swiper
          .swiper-wrapper 
            .swiper-slide 1
            .swiper-slide 2
            .swiper-slide 3
            .swiper-slide 4
            .swiper-slide 5
            .swiper-slide 6
          .swiper-pagination
          .swiper-button-next
          .swiper-button-prev
    pre
      code.language-javascript.javascript.
        import Swiper, { Navigation, Pagination } from "swiper"
        import "swiper/css"
        import "swiper/css/navigation"
        import "swiper/css/pagination"

        const swiper = new Swiper(".swiper", {
          loop: false,
          slidesPerView: 1,
          spaceBetween: 20,
          modules: [Navigation, Pagination],

          pagination: {
            el: ".swiper-pagination",
          },

          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        })

.uikit__item(data-ui-parent="components")#tippyjs-tooltip
  .row
    p.uikit__item-p Tippy js tooltip
    .col-lg-6
      button.uikit-btn.js-tippy-tooltip(data-tippy-content="tooltip content") tooltip
    pre
      code.language-pug.javascript.
        button.js-tippy-tooltip(data-tippy-content="tooltip content") tooltip

.uikit__item(data-ui-parent="components")#carousel-video-modal
  .row.mb-4
    p.uikit__item-p fancyapps carousel + video modal
    .col-lg-3
      a(href="https://lipsum.app/id/1/1024x768" data-fancybox="gallery" data-caption="Optional caption 1") 
        img(src="https://lipsum.app/id/1/1024x768" style="width: 100%;")
    .col-lg-3
      a(href="https://lipsum.app/id/2/1024x768" data-fancybox="gallery" data-caption="Optional caption 2") 
        img(src="https://lipsum.app/id/2/1024x768" style="width: 100%;")
    .col-lg-3
      a(href="https://lipsum.app/id/3/1024x768" data-fancybox="gallery" data-caption="Optional caption 3") 
        img(src="https://lipsum.app/id/3/1024x768" style="width: 100%;")
    .col-lg-3
      a(href="https://lipsum.app/id/4/1024x768" data-fancybox="gallery" data-caption="Optional caption 4") 
        img(src="https://lipsum.app/id/4/1024x768" style="width: 100%;")
    .col-lg-12 
      pre
        code.language-pug.javascript.
          a(href="https://lipsum.app/id/1/1024x768" data-fancybox="gallery" data-caption="Optional caption 1") 
            img(src="https://lipsum.app/id/1/1024x768")
          a(href="https://lipsum.app/id/2/1024x768" data-fancybox="gallery" data-caption="Optional caption 2") 
            img(src="https://lipsum.app/id/2/1024x768")
          a(href="https://lipsum.app/id/3/1024x768" data-fancybox="gallery" data-caption="Optional caption 3") 
            img(src="https://lipsum.app/id/3/1024x768")
          a(href="https://lipsum.app/id/4/1024x768" data-fancybox="gallery" data-caption="Optional caption 4") 
            img(src="https://lipsum.app/id/4/1024x768")
    .col-lg-3.mt-4
      a.uikit-btn(href="https://www.youtube.com/watch?v=x_AN2Eonl2A&t=1s" data-fancybox) Video modal
    .col-lg-12 
      pre
        code.language-pug.javascript.
          a(href="https://www.youtube.com/watch?v=x_AN2Eonl2A&t=1s" data-fancybox) Video modal
