.uikit__side
  .uikit__side-logo 
    img(src="../../images/base/babel-logo-primary.svg", alt="") 
  .uikit__side-search 
    input.js-uikit-search(type="text", placeholder="Press Enter to search")
    .uikit__side-version Babel Uikit v1.1

  .uikit__side-wrapper.js-uikit-scroll.js-uikit-side
    .uikit__side-field 
      .uikit__side-title getting started
      ul.uikit__side-list
        
    .uikit__side-field 
      .uikit__side-title base
      ul.uikit__side-list


    .uikit__side-field 
      .uikit__side-title components
      ul.uikit__side-list