.uikit__item(data-ui-parent="components")#accordion
  pre
    code.language-pug.javascript.
      .uikit__header-right 
        .uikit__header-btn 
          | Images
        .uikit__header-btn 
          | Icons
        .uikit__header-btn.uikit__header-btn--dark
          | Website