.uikit__item(data-ui-parent="base")#utilies
  .row.d-flex.align-items-center.mb-4
    .col-lg-6
      .txt.txt--px15 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, sit?
    .col-lg-6
      pre
        code.language-pug.javascript.
          .txt.txt--px15
  .row.d-flex.align-items-center.mb-4
    .col-lg-6
      .txt.txt--px18 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, sit?
    .col-lg-6
      pre
        code.language-pug.javascript.
          .txt.txt--px18
  .row.d-flex.align-items-center.mb-4
    .col-lg-6
      .txt.txt--px24 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, sit?
    .col-lg-6
      pre
        code.language-pug.javascript.
          .txt.txt--px24
  .row.d-flex.align-items-center.mb-4
    .col-lg-6
      .txt.txt--px30 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, sit?
    .col-lg-6
      pre
        code.language-pug.javascript.
          .txt.txt--px30
  .row.d-flex.align-items-center.mb-4
    .col-lg-6
      .txt.txt--font300 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, sit?
    .col-lg-6
      pre
        code.language-pug.javascript.
          .txt.txt--font300
  .row.d-flex.align-items-center.mb-4
    .col-lg-6
      .txt.txt--font400 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, sit?
    .col-lg-6
      pre
        code.language-pug.javascript.
          .txt.txt--font400
  .row.d-flex.align-items-center.mb-4
    .col-lg-6
      .txt.txt--font500 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, sit?
    .col-lg-6
      pre
        code.language-pug.javascript.
          .txt.txt--font500
  .row.d-flex.align-items-center.mb-4
    .col-lg-6
      .txt.txt--font600 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, sit?
    .col-lg-6
      pre
        code.language-pug.javascript.
          .txt.txt--font600
  .row.d-flex.align-items-center
    .col-lg-6
      .txt.txt--font700 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, sit?
    .col-lg-6
      pre
        code.language-pug.javascript.
          .txt.txt--font700
