.uikit__item(data-ui-parent="getting started")#overview
  .uikit-overview 
    .uikit-overview__title Hello,
      span Visitor 
    .uikit-overview__info This page is a Uikit page that we use to develop the frontend.
    .uikit-overview__txt If you encounter a problem during development, please ignore it until the final version is released.
    .uikit-overview__copyright 
      p Being Developed by 
        a(href="https://www.babel.com.tr" target="_blank") Babel
      strong all rights reserved.
.uikit__item(data-ui-parent="getting started")#build
  .uikit__item-message Bu alan sadece geliştiriciler içindir. Repoya erişemezsiniz!
  p Aşağıdaki github reposundan projeyi klonlayarak indirme işlemini yapabilirsiniz.
  pre.mb-4
    code(class="language-html")
      | https://github.com/etrielQ/webpack-5-starter-kit.git
  p Sırasıyla Adımları Takip edin.
  pre.mb-4
    code(class="language-html")
      | npm install
  p Eğer hata alırsanız;
  pre.mb-4
    code(class="language-html")
      | npm install --legacy-peer-deps
  p
    strong Kurulum Tamam. 
    |Aşağıdaki komutu çalıştırarak projeyi çalıştırabilirsiniz.
  pre.mb-4
    code(class="language-html")
      | npm run serve
  p Son olarak Build çıktısı almak için aşağıdaki komutu uygulayabilirsiniz. 
  pre
    code.language-html
      | npm run build
.uikit__item(data-ui-parent="getting started")#file-structure
  ul.uikit-filetree 
    li.uikit-filetree-item
      span Src
      ul.uikit-filetree__sub
        li.uikit-filetree__sub-item
          span Fonts
        li.uikit-filetree__sub-item
          span icons
        li.uikit-filetree__sub-item
          span images
        li.uikit-filetree__sub-item
          span js
        li.uikit-filetree__sub-item
          span scss
          ul.uikit-filetree__sub
            li.uikit-filetree__sub-item
              span common
              ul.uikit-filetree__sub
                li.uikit-filetree__sub-item
                  span _footer.scss
                li.uikit-filetree__sub-item
                  span _header.scss
            li.uikit-filetree__sub-item
              span components
              ul.uikit-filetree__sub
                li.uikit-filetree__sub-item
                  span _buttons.scss
            li.uikit-filetree__sub-item
              span config
              ul.uikit-filetree__sub
                li.uikit-filetree__sub-item
                  span _config.scss
                li.uikit-filetree__sub-item
                  span _fonts.scss
                li.uikit-filetree__sub-item
                  span _mixins.scss
                li.uikit-filetree__sub-item
                  span _normalize.scss
                li.uikit-filetree__sub-item
                  span _variables.scss
                li.uikit-filetree__sub-item
                  span config-index.scss
            li.uikit-filetree__sub-item
              span global
              ul.uikit-filetree__sub
                li.uikit-filetree__sub-item
                  span _global.scss
                li.uikit-filetree__sub-item
                  span _uikit.scss
                li.uikit-filetree__sub-item
                  span _utilies.scss
            li.uikit-filetree__sub-item
              span pages
              ul.uikit-filetree__sub
                li.uikit-filetree__sub-item
                  span _index.scss
                li.uikit-filetree__sub-item
                  span _about.scss
            li.uikit-filetree__sub-item
              span style.scss
        li.uikit-filetree__sub-item
          span template
          ul.uikit-filetree__sub
            li.uikit-filetree__sub-item
              span common
              ul.uikit-filetree__sub
                li.uikit-filetree__sub-item
                  span footer
                li.uikit-filetree__sub-item
                  span header
            li.uikit-filetree__sub-item
              span components
              ul.uikit-filetree__sub
                li.uikit-filetree__sub-item
                  span about
                  ul.uikit-filetree__sub
                    li.uikit-filetree__sub-item
                      span about-section.pug
                li.uikit-filetree__sub-item
                  span index
                  ul.uikit-filetree__sub
                    li.uikit-filetree__sub-item
                      span index-section.pug
            li.uikit-filetree__sub-item
              span layout
              ul.uikit-filetree__sub
                li.uikit-filetree__sub-item
                  span layoutMain.pug
            li.uikit-filetree__sub-item
              span pages
              ul.uikit-filetree__sub
                li.uikit-filetree__sub-item
                  span about.pug
                li.uikit-filetree__sub-item
                  span index.pug
                li.uikit-filetree__sub-item
                  span uikit.pug
    li.uikit-filetree-item
      span .babelrc.js
    li.uikit-filetree-item
      span .browserslistrc
    li.uikit-filetree-item
      span .gitignore
    li.uikit-filetree-item
      span package.json
    li.uikit-filetree-item
      span postcss.config.js
    li.uikit-filetree-item
      span README.md
    li.uikit-filetree-item
      span webpack.config.js
.uikit__item(data-ui-parent="getting started")#dark-mode
  p dark mode
  pre
    code.language-pug.javascript.
      p working on it