.uikit__item(data-ui-parent="base")#breakpoints
  .row
    .uikit-breakpoints 
      p.uikit__item-p Breakpoints
      .uikit-breakpoints__row 
        .uikit-breakpoints__item mobile x small
        .uikit-breakpoints__item max width: 350px
        .uikit-breakpoints__item 
          pre 
            code.language-css.javascript.
              @include bp(mobile-x-small){}
      .uikit-breakpoints__row 
        .uikit-breakpoints__item mobile m small
        .uikit-breakpoints__item max width: 374px
        .uikit-breakpoints__item 
          pre 
            code.language-css.javascript.
              @include bp(mobile-m-small){}
      .uikit-breakpoints__row 
        .uikit-breakpoints__item mobile l small
        .uikit-breakpoints__item max width: 424px
        .uikit-breakpoints__item 
          pre 
            code.language-css.javascript.
              @include bp(mobile-l-small){}
      .uikit-breakpoints__row 
        .uikit-breakpoints__item mobile small
        .uikit-breakpoints__item max width: 480px
        .uikit-breakpoints__item 
          pre 
            code.language-css.javascript.
              @include bp(mobile-small){}
      .uikit-breakpoints__row 
        .uikit-breakpoints__item mobile
        .uikit-breakpoints__item max width: 575px
        .uikit-breakpoints__item 
          pre 
            code.language-css.javascript.
              @include bp(mobile){}
      .uikit-breakpoints__row 
        .uikit-breakpoints__item tablet-small
        .uikit-breakpoints__item max width: 767px
        .uikit-breakpoints__item 
          pre 
            code.language-css.javascript.
              @include bp(tablet-small){}
      .uikit-breakpoints__row 
        .uikit-breakpoints__item tablet
        .uikit-breakpoints__item max width: 991px
        .uikit-breakpoints__item 
          pre 
            code.language-css.javascript.
              @include bp(tablet){}
      .uikit-breakpoints__row 
        .uikit-breakpoints__item tablet-big
        .uikit-breakpoints__item max width: 1023px
        .uikit-breakpoints__item 
          pre 
            code.language-css.javascript.
              @include bp(tablet-big){}
      .uikit-breakpoints__row 
        .uikit-breakpoints__item desktop
        .uikit-breakpoints__item max width: 1199px
        .uikit-breakpoints__item 
          pre 
            code.language-css.javascript.
              @include bp(desktop){}
      .uikit-breakpoints__row 
        .uikit-breakpoints__item laptop
        .uikit-breakpoints__item max width: 1439px
        .uikit-breakpoints__item 
          pre 
            code.language-css.javascript.
              @include bp(laptop){}
      .uikit-breakpoints__row 
        .uikit-breakpoints__item desktop-m
        .uikit-breakpoints__item max width: 1529px
        .uikit-breakpoints__item 
          pre 
            code.language-css.javascript.
              @include bp(desktop-m){}
      .uikit-breakpoints__row 
        .uikit-breakpoints__item desktop-l
        .uikit-breakpoints__item max width: 1920px
        .uikit-breakpoints__item 
          pre 
            code.language-css.javascript.
              @include bp(desktop-l){}
      .uikit-breakpoints__row 
        .uikit-breakpoints__item r-mobile
        .uikit-breakpoints__item min width: 576px
        .uikit-breakpoints__item 
          pre 
            code.language-css.javascript.
              @include bp(r-mobile){}
      .uikit-breakpoints__row 
        .uikit-breakpoints__item r-tablet-small
        .uikit-breakpoints__item min width: 769px
        .uikit-breakpoints__item 
          pre 
            code.language-css.javascript.
              @include bp(r-tablet-small){}
      .uikit-breakpoints__row 
        .uikit-breakpoints__item r-tablet
        .uikit-breakpoints__item min width: 993px
        .uikit-breakpoints__item 
          pre 
            code.language-css.javascript.
              @include bp(r-tablet){}
      .uikit-breakpoints__row 
        .uikit-breakpoints__item r-desktop
        .uikit-breakpoints__item min width: 1201px
        .uikit-breakpoints__item 
          pre 
            code.language-css.javascript.
              @include bp(r-desktop){}
      .uikit-breakpoints__row 
        .uikit-breakpoints__item r-laptop
        .uikit-breakpoints__item min width: 1441px
        .uikit-breakpoints__item 
          pre 
            code.language-css.javascript.
              @include bp(r-laptop){}
      .uikit-breakpoints__row 
        .uikit-breakpoints__item r-desktop-m
        .uikit-breakpoints__item min width: 1530px
        .uikit-breakpoints__item 
          pre 
            code.language-css.javascript.
              @include bp(r-desktop-m){}
      .uikit-breakpoints__row 
        .uikit-breakpoints__item r-desktop-l
        .uikit-breakpoints__item min width: 1920px
        .uikit-breakpoints__item 
          pre 
            code.language-css.javascript.
              @include bp(r-desktop-l){}
.uikit__item(data-ui-parent="base")#container
  .row
    .uikit-breakpoints 
      p.uikit__item-p Container
      .uikit-breakpoints__row 
        .uikit-breakpoints__item container
        .uikit-breakpoints__item max width: 1360px
        .uikit-breakpoints__item 
          pre 
            code.language-pug.javascript.
              .container
      .uikit-breakpoints__row 
        .uikit-breakpoints__item container--sm
        .uikit-breakpoints__item max width: 1280px
        .uikit-breakpoints__item 
          pre 
            code.language-pug.javascript.
              .container--sm
      .uikit-breakpoints__row 
        .uikit-breakpoints__item container--fluid
        .uikit-breakpoints__item max width: 100%
        .uikit-breakpoints__item 
          pre 
            code.language-pug.javascript.
              .container--fluid
.uikit__item(data-ui-parent="base")#utilies
  .row.d-flex.align-items-center.mb-4
    .col-lg-6
      .txt.txt--px15 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, sit?
    .col-lg-6
      pre
        code.language-pug.javascript.
          .txt.txt--px15
  .row.d-flex.align-items-center.mb-4
    .col-lg-6
      .txt.txt--px18 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, sit?
    .col-lg-6
      pre
        code.language-pug.javascript.
          .txt.txt--px18
  .row.d-flex.align-items-center.mb-4
    .col-lg-6
      .txt.txt--px24 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, sit?
    .col-lg-6
      pre
        code.language-pug.javascript.
          .txt.txt--px24
  .row.d-flex.align-items-center.mb-4
    .col-lg-6
      .txt.txt--px30 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, sit?
    .col-lg-6
      pre
        code.language-pug.javascript.
          .txt.txt--px30
  .row.d-flex.align-items-center.mb-4
    .col-lg-6
      .txt.txt--font300 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, sit?
    .col-lg-6
      pre
        code.language-pug.javascript.
          .txt.txt--font300
  .row.d-flex.align-items-center.mb-4
    .col-lg-6
      .txt.txt--font400 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, sit?
    .col-lg-6
      pre
        code.language-pug.javascript.
          .txt.txt--font400
  .row.d-flex.align-items-center.mb-4
    .col-lg-6
      .txt.txt--font500 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, sit?
    .col-lg-6
      pre
        code.language-pug.javascript.
          .txt.txt--font500
  .row.d-flex.align-items-center.mb-4
    .col-lg-6
      .txt.txt--font600 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, sit?
    .col-lg-6
      pre
        code.language-pug.javascript.
          .txt.txt--font600
  .row.d-flex.align-items-center
    .col-lg-6
      .txt.txt--font700 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, sit?
    .col-lg-6
      pre
        code.language-pug.javascript.
          .txt.txt--font700
.uikit__item(data-ui-parent="base")#form
  .row
    p.uikit__item-p Input
    .col-lg-6.mb-4
      .input-item
        input(type="text")
        span.input-item__placeholder
          | placeholder
          strong *
      pre
        code.language-pug.javascript.
          .input-item
            input(type="text")
            span.input-item__placeholder
              | placeholder
              strong *
    .col-lg-6.mb-4
      .input-item
        input(type="text")
        span.input-item__placeholder
          | placeholder
          strong *
      pre
        code.language-pug.javascript.
          .input-item
            input(type="text")
            span.input-item__placeholder
              | placeholder
              strong *
    .col-lg-12.mb-4
      .input-item.input-item--textarea
        textarea(name="", cols="30", rows="10")
        span.input-item__placeholder
          | placeholder
          strong *
      pre
        code.language-pug.javascript.
          .input-item.input-item--textarea
            textarea(name="", cols="30", rows="10")
            span.input-item__placeholder
              | placeholder
              strong *
    .col-lg-12.mb-4
      .input-item.input-item--file.js-file-upload-select
        div Dosya Seç:
        .input-item__file-field.js-file-upload-field 
        input.js-file-upload(type='file' name='file-upload-input')
    .col-lg-12.mb-4
      .input-item.input-item--file.js-file-upload-select
        div Çoklu Dosya Seçimi:
        .input-item__file-field.js-file-upload-field 
        input.js-file-upload(type='file' multiple="multiple" name='file-upload-input')

    .col-lg-3.mb-4
      label.switch
        .switch__text.switch__text--first text left
        input(type="checkbox")
        span.switch__slider
        .switch__text.switch__text--last text right
      pre
        code.language-pug.javascript.
          label.switch
            .switch__text.switch__text--first text left
            input(type="checkbox")
            span.switch__slider
            .switch__text.switch__text--last text right
    .col-lg-3.mb-4
      label.switch
        input(type="checkbox")
        span.switch__slider
      pre
        code.language-pug.javascript.
          label.switch
            input(type="checkbox")
            span.switch__slider
    .col-lg-3.mb-4
      label.checkbox(for="checkbox1")
        input(type="checkbox" name="checkbox1" id="checkbox1")
        span.checkbox__checkmark
        span.checkbox__txt Checkbox
      pre
        code.language-pug.javascript.
          label.checkbox(for="checkbox1")
            input(type="checkbox" name="checkbox1" id="checkbox1")
            span.checkbox__checkmark
            span.checkbox__txt Checkbox
    .col-lg-3.mb-4
      label.radio(for="radio1")
        input(type="radio" name="radio" id="radio1" checked)
        span.radio__checkmark
        span.radio__txt Radio 1
      label.radio(for="radio2")
        input(type="radio" name="radio" id="radio2")
        span.radio__checkmark
        span.radio__txt Radio 2
      label.radio(for="radio3")
        input(type="radio" name="radio" id="radio3")
        span.radio__checkmark
        span.radio__txt Radio 3
      pre
        code.language-pug.javascript.
          label.radio(for="radio1")
            input(type="radio" name="radio1" id="radio1")
            span.radio__checkmark
            span.radio__txt Radio
.uikit__item(data-ui-parent="base")#mixins
  .row
    p.uikit__item-p Position
    .col-lg-6.mb-4
      span Mixin
      pre
        code.language-css.javascript.
          @mixin position($position, $top, $left, $width, $height, $content: false) {
            @if $content {
              content: "";
            }
            position: $position;
            top: $top;
            left: $left;
            width: $width;
            height: $height;
          }
      span Scss
      pre
        code.language-css.javascript.
          .uikit-test {
            @include position(
              absolute,
              0,
              0,
              calc(100% - 15px),
              calc(100% - 15px),
              $content: true
            );
          }
      span Css
      pre
        code.language-css.javascript.
          .uikit-test{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 15px);
            height: calc(100% - 15px);
          }