doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Webpack Test
    body 
        h1#title ITS AN INDEX PAGE
        p pug test 2
        a(href="./about.html") Go to about page
        p Pug Test
        #demo
        span.icon.icon-font(data-icon-id="iconSearch")
        span.icon.icon-font(data-icon-id="iconFacebook")
        span.icon.icon-font(data-icon-id="iconArrow")
        span.icon.icon-font(data-icon-id="iconPhone")
        //- img(src="../../images/opet.png", alt="")
        //- img(src="../../images/alperencelik2021.jpg", alt="") 