extends ../layout/layoutMain
block append vars
    - var header = false

block append head
    title Starter Kit - Webpack 5

block content
    main#swup.transition-fade
        h1#title ITS AN INDEX PAGE
        p pug test 2
        a(href="/index.html") Go to index page
        include ../components/about/about-section
        p transition test
        
    
        img(src="../../images/opet.png", alt="")