extends ../layout/layoutMain
block append vars

block append head
    title Starter Kit - Webpack 5

block content
    main#swup.transition-fade
        h1#title ITS AN INDEX PAGE
        p pug test 2
        a(href="/index.html") Go to index page
        include ../components/about/about-section
        p transition test
        .swiper-container
            .swiper-wrapper 
                .swiper-slide SLİDE 1
                .swiper-slide SLİDE 2
                .swiper-slide SLİDE 3
                .swiper-slide SLİDE 4
        
    