extends ../layout/layoutMain
block append vars
  - var header = true 
  - var footer = true
  - var pageName = "Index"

block append head
  title= pageName + " Webpack 5 Starter Kit"

block content
  //- #swup.transition-fade
  main
    include ../components/index/index-section