extends ../layout/layoutMain
block append vars

block append head
    title Starter Kit - Webpack 5

block content
    main#swup.transition-fade
        h1#title ITS AN INDEX PAGE
        .container 
            p aaa
        .container.container--sm
        a(href="/about.html") Go to about page
        span.icon.icon-font(data-icon-id="iconSearch")
        span.icon.icon-font(data-icon-id="iconFacebook")
        span.icon.icon-font(data-icon-id="iconArrow")
        span.icon.icon-font(data-icon-id="iconPhone")

        include ../components/index/index-section
        
        .container
            img(src="../../images/webpack-logo.png", alt="")