extends ../layout/layoutMain
block append vars
  - var header = false 
  - var footer = false
  - var pageName = "Uikit"

block append head
  title= pageName + " Webpack 5 Starter Kit"
block append styles 
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.1/build/styles/default.min.css")

block content
  main#swup.transition-fade
    section.uikit
      include ../components/uikit/uikit-side

              
      .uikit__content 
        .container 
          .uikit__header 
            .uikit__header-title.js-scroll-text Overview
            .uikit__header-right 
              a(href="./images/images.html" target="_blank").uikit-btn 
                | Images
              a(href="./icons/icons-sprite.html" target="_blank").uikit-btn 
                | Icons
              a(href="./index.html" target="_blank").uikit-btn.uikit-btn--dark
                | Website
              label.switch
                .switch__text.switch__text--first light
                input(type="checkbox").js-dark-mode
                span.switch__slider
                .switch__text.switch__text--last dark

          .uikit__wrapper.js-uikit-content
            include ../components/uikit/uikit-started
            include ../components/uikit/uikit-base
            include ../components/uikit/uikit-components
