.h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 40px;
}
$colorY: gray;

body {
  color: $colorY;
  background-color: #e9e9e9;
}

a {
  color: red;
  text-decoration: none;
  font-size: 18px;
  display: block;
  &:hover {
    color: yellow;
  }
}

.swiper-container {
  width: 600px;
  height: 400px;
  .swiper-slide {
    display: flex;
    align-items: center;
  }
}
