.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: $font-family-base;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
}

.section {
  padding: 100px 0;

  @include bp(tablet) {
    padding: 75px 0;
  }
  @include bp(tablet-small) {
    padding: 50px 0;
  }
}
