.txt {
  &--px15 {
    font-size: 15px;
  }
  &--px18 {
    font-size: 18px;
  }
  &--px24 {
    font-size: 24px;
  }
  &--px30 {
    font-size: 30px;
  }
  &--font300 {
    font-weight: 300;
  }
  &--font400 {
    font-weight: 400;
  }
  &--font500 {
    font-weight: 500;
  }
  &--font600 {
    font-weight: 600;
  }
  &--font700 {
    font-weight: 700;
  }
}
