block vars 
doctype html
html(lang="en" data-theme="")
  head
    block head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
      meta(name='msapplication-TileColor' content='#00205b')
      meta(name='theme-color' content='#00205b')
      meta(name="theme-color" content="#00205b" media="(prefers-color-scheme: light)")
      meta(name="theme-color" content="#00205b" media="(prefers-color-scheme: dark)")
    block styles

    script.
      function docReady(fn) {
        if (
            document.readyState === "complete" ||
            document.readyState === "interactive"
        ) {
            setTimeout(fn, 1)
        } else {
            document.addEventListener("DOMContentLoaded", fn)
        }
      }
  body 

    include ../common/header
     .front-ui
      .front-ui-button
        a(href="/uikit.html" target="_blank").front-ui-button-item Uikit
        a(href="/icons/icons-sprite.html" target="_blank").front-ui-button-item Icon Sprite
        a(href="#0").front-ui-button-item.js-uikit-pages-dropdown Pages
      .front-ui-dropdown.custom-scrollbar
        a(href="/index.html").front-ui-dropdown-item index
        a(href="/about.html").front-ui-dropdown-item about
    block content 

    include ../common/footer
    block scripts