@font-face {
  font-family: "Lausanne";
  src: url("../../fonts/Lausanne-Regular.eot");
  src: url("../../fonts/Lausanne-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/Lausanne-Regular.woff2") format("woff2"),
    url("../../fonts/Lausanne-Regular.woff") format("woff"),
    url("../../fonts/Lausanne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
