@mixin bp($point) {
  @if $point==desktop-l {
    @media (max-width: 192rem) {
      @content;
    }
  } @else if $point==r-desktop-l {
    @media (min-width: 192rem) {
      @content;
    }
  } @else if $point==desktop-m {
    @media (max-width: 152.9rem) {
      @content;
    }
  } @else if $point==r-desktop-m {
    @media (min-width: 153rem) {
      @content;
    }
  } @else if $point==r-laptop {
    @media (min-width: 144.1rem) {
      @content;
    }
  } @else if $point==laptop {
    @media (max-width: 143.9rem) {
      @content;
    }
  } @else if $point==r-desktop {
    @media (min-width: 120.1rem) {
      @content;
    }
  } @else if $point==desktop {
    @media (max-width: 119.9rem) {
      @content;
    }
  } @else if $point==tablet-big {
    @media (max-width: 102.3rem) {
      @content;
    }
  } @else if $point==tablet {
    @media (max-width: 99.1rem) {
      @content;
    }
  } @else if $point==tablet-small {
    @media (max-width: 76.7rem) {
      @content;
    }
  } @else if $point==mobile {
    @media (max-width: 57.5rem) {
      @content;
    }
  } @else if $point==r-tablet {
    @media (min-width: 99.3rem) {
      @content;
    }
  } @else if $point==r-tablet-small {
    @media (min-width: 76.9rem) {
      @content;
    }
  } @else if $point==r-mobile {
    @media (min-width: 57.6rem) {
      @content;
    }
  } @else if $point==mobile-small {
    @media (max-width: 48rem) {
      @content;
    }
  } @else if $point==mobile-l-small {
    @media (max-width: 42.4rem) {
      @content;
    }
  } @else if $point==mobile-m-small {
    @media (max-width: 37.4rem) {
      @content;
    }
  } @else if $point==mobile-x-small {
    @media (max-width: 35rem) {
      @content;
    }
  }
}

@mixin position($position, $top, $left, $width, $height, $content: false) {
  @if $content {
    content: "";
  }
  position: $position;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
}
