/* Font Sizes */

/* Font Families */
$font-family-base: "Lausanne";

/* Transitions */
$transition: 0.3s cubic-bezier(0.29, 0.13, 0.27, 0.74);
$transition-fast: 0.2s cubic-bezier(0.29, 0.13, 0.27, 0.74);

/* Colors */
$c-black: #000000;
