section.section 
  .container 
    .row.d-flex.flex-column.align-items-center.justify-content-center
      img(src="../../images/webpack-logo.png", style="max-width: 500px" alt="")
      h1.txt.txt--px30.txt--font600.text-center
        | Webpack 5 Starter Kit
      p.txt.txt--px18.txt--font400.text-center.mt-4.mb-4
        | Lorem ipsum dolor sit amet.
      .d-flex.justify-content-center.txt--px30
        span.icon.icon-font(data-icon-id="iconAngle")
        span.icon.icon-font(data-icon-id="iconSearch")
        span.icon.icon-font(data-icon-id="iconFacebook")
        span.icon.icon-font(data-icon-id="iconPhone")
      a(href="./uikit.html" target="_blank" style="width:fit-content").uikit-btn.mt-4
        | View More